@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --orange: #E6533C;
}
*{
    margin:0;
    padding:0;
    font-family: "Inter", sans-serif;
    color:white;
}


body{
    background-color: #000000;
}
.header{
    background-image: linear-gradient(to bottom, #000000, #121212, #1d1d1d, #282828, #333333, #333333, #333333, #333333, #282828, #1d1d1d, #121212, #000000);
}
.container{
    width:1060px;
    margin:0 auto;
}
.nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    color:#E6533C;
    font-size: 36px;
    font-style: italic;
}
.menu ul{
    list-style: none;
    border:1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 5px;
    border-radius: 46px;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    color:white;
    padding:8px 20px;
    border-radius: 46px;
    cursor: pointer;
    transition: 1s;
}
.menu ul li a:hover{
    background-color: #E6533C;

}

.active{
    padding:8px 20px;
    background-color: #E6533C;
    border-radius: 46px;
}

.heading-itelic{
    font-family: "Meie Script", cursive;
}


.h-content{
    color:white;
}
.h-content h1{
    font-size: 68px;
    margin-top: 100px;
}
.h-content p{
    font-size: 16px;
    font-weight: 200;
    color:rgba(255, 255, 255, 0.526);
    margin-bottom: 30px;
}

.header-content {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}
.h-content-image{
    position: relative;
}
.vt{
    position: absolute;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.145);
    padding: 15px 20px;
    backdrop-filter: blur(4.5px);
    border-radius: 12px;
    bottom: 75px;
    left: -18px;


}
.vt-c{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: #E6533C;
    margin-right: 20px;
}

.vt h3{
    font-size: 24px;
}
.vt p{
    font-size: 16px;
}

.hcimage{
    display: flex;
    justify-content: center;
}

.vt-fwb{
    background-color: rgba(216, 216, 216, 0.145);
    padding: 15px 20px;
    backdrop-filter: blur(4.5px);
    border-radius: 12px;
    position: absolute;
    flex-direction: column;
    place-items: flex-start;
    top: 133px;
    right: 112px;
}

.vt-fwb h3{
    font-size: 24px;
}
.vt-fwb p{
    font-size: 10px;
}

/* ====================button========= */

.join-now{
    padding:16px 45px;
    background-color: var(--orange);
    border-radius: 42px;
    border:none;
    outline: none;
    font-size: 18px;
    color:white;
}

.download-now{
    padding:16px 45px;
    background-color: #00000000;
    border-radius: 42px;
    border:1px solid white;
    outline: none;
    font-size: 18px;
    color:white;
    margin-left: 20px;
}



.your-habit{
    padding-top:100px;
}
.habit-content{
    text-align: center;
}
.habit-content h2{
    font-size: 48px;
}

.habit-content p{
    font-size: 14px;
    color:rgba(255, 255, 255, 0.497);
    margin-top: 14px;
    font-weight: 100;
}

.all-habit{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top:58px;
}

.habit-item{
    text-align: center;
    padding:0px 20px

}
.habit-item img{
    border-radius: 50%;
    margin-bottom: 20px;
    border:5px solid rgb(50, 50, 50);
}

.habit-item h4{
    font-size: 18px;
    margin-bottom: 10px;
}
.habit-item p{
    font-size: 14px;
    font-weight: 100;
}


.run-extra{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(34, 34, 34, 1);
    border-radius: 25px;
    padding:30px 0px;
}


.run-content {
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.run-content h2{
    font-size: 48px;
    margin-bottom: 15px;
}
.run-content p{
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 24px;
}
.run-joinnow-btn{
    width: fit-content;
    padding: 16px 75px;
    margin-top: 30px;
}
.run-image img{
    width: 380px;
    height: 370px;
    object-fit: none;
    object-position: 68% 32%;
    border-radius: 15px;
    float: right;
    margin-right: 34px;
}



.bmi{
    padding-top: 100px;
}
.bmi-text{
    padding-left: 190px;
}

.bmi-text h2{
    font-size: 48px;
}
.bmi-text p{
    font-size: 14px;
    color:rgba(255, 255, 255, 0.474);
    font-weight: 100;
}

.bmi-function{
    background-color: rgba(34, 34, 34, 1);
    margin-top: 88px;
    padding:52px 0px;
}

.bmi-chart > h2{
    font-size: 28px;
}

.bmi-table{
    margin-top: 52px;
    border-collapse: collapse;
    border:1px solid rgba(255, 255, 255, 0.1);
}
.bmi-table th{
    color:white;
}
.bmi-table tr, th, td{
    border:1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding:10px 20px;
    color:rgba(255, 255, 255, 0.514);
}


.bmi-function-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.from-text h2{
    font-size: 28px;
}
.from-text p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.478);
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-first-part{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);

}

.activity{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.input{
    padding:16px 20px;
    color:rgba(255, 255, 255, 0.542);
    background-color: rgba(255, 255, 255, 0.14);
    border:none;
    outline: none;
    border-radius: 10px;
}